@import url('https://fonts.googleapis.com/css2?family=Fasthand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  input::-webkit-inner-spin-button,
  input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

/* change default scroll bar */

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  box-shadow: 0px 0px 10px rgba(0, 150, 209, .3);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(0, 150, 209);
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(0, 93, 130);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

.backdrop-blur {
  -webkit-backdrop-filter: blur(16px); 
  backdrop-filter: blur(16px);
}